<header class="header-login">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-lg-6">
        <div class="slogan-login">
          <img src="../../assets/images/logo-branco.png" width="340" alt="">
          <h1>Faça seu login</h1>
          <p>Digite seus dados e faça login em seu sistema. Para mais informações acesse nossa central de ajuda</p>
          <a routerLink="" class="btn btn-light">Informações</a>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-lg-6">
        <div class="box-login">
          <div class="panel-login-header">
            <img src="../../assets/images/login/password.svg" width="94" alt="">
            <h3>Faça seu login</h3>
            <!-- <p>Coloque seus dados de cadastro</p> -->
          </div>
          <form class="example-form">
            <div class="form-group">
              <mat-form-field class="example-full-width" >
                <input matInput placeholder="Seu email" value="">
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Sua senha">
              </mat-form-field>
            </div>
             <button routerLink="/home" class="btn btn-primary btn-block">Entrar</button>
          </form>


        </div>
      </div>
    </div>
  </div>
</header>

<footer>
  <div class="container">
    <div class="footer-content text-center">
      <h6>Acompanhe a Trust pelas redes e fique por dentro de todas as novidades.</h6>
      <ul class="social-footer">
        <li><a href=""><img src="../../assets/images/ico-facebook.png" width="30px" alt=""></a></li>
          <li><a href=""><img src="../../assets/images/ico-instagram.png" width="30px" alt=""></a></li>
          <li><a href=""><img src="../../assets/images/ico-linkedin.png" width="30px" alt=""></a></li>
      </ul>
      <p>Copyright. TrustHub. 2019 - Todos os direitos reservados</p>
    </div>
    
  </div>
</footer>
